<html>
  <head>
  </head>
  <body>
    <div  class="container">
      <font face="Impact" size="40"> Bem Vinda(o)<br> a Página <%= @pname %> deste website</font>
      <br/>
      <br/>
      <br/>
      <p>
        você encontrou a página suuuuuuuuuuper secreta sobre <%= @pname %>, aqui você encontrará TUDO ABSOLUTAMENTE TUDOOOOOOOOO sobre <%= @pname %>
        porém, esta é uma página secreta e somente os escolhidos de <%= @pname %> irão enxergar o conteúdo verdadeiro se você não for um(a) escolhido(a)
        de <%= @pname %> por favor visite outra página, pois toda a informação sobre <%= @pname %> estará invisível para vossa não excelência que não foi escolhida por <%= @pname %>
      </p>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </body>
</html>
